/* Global */


/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.navContent {
  display: flex;
  flex-direction: row;
}

.navItem {
  color: #000;
  background-color: #d0d0d0;
  padding: 7px 25px;
  margin: 5px;
  border-radius: 50px;
  text-decoration: none;
}

.navItemText {
  margin: 0;
}